header {
    height: 100px;
    background-color: aquamarine
}

h1 {
    float: left;
    margin-left: 40px;
    margin-top: 32px;
}

nav li {
    display: inline-block;
    width: 275px;
    float: right;
    margin-top: 45px;
}

p {
    font-size: 35px;
    font-style: italic;
    margin-right: 15px;
    margin-left: 15px;
}
#top-section {
    border: 7px solid yellowgreen;
    background: rgb(5, 116, 243);
}

#top-section img {
    border-radius: 50%;
    max-width: 100%;
}

.middle-section img {
    max-width: 400px;
    border: 5px solid blue;
    margin-top: 12px;
}

.middle-section {
     background-color: yellow;
     border: 8px solid red;
}

.middle-section h3 {
    margin-right: 30px;
    margin-left: 425px;
}

#bottom-section {
    border: 12px solid grey;
    background-color: pink;
}

#bottom-section h3 {
    font-size: 48px;
    margin-left:30px;
} 
#bottom-section img {
    border: 3px solid black;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 10px;
}
footer {
    background-color:rgb(44, 250, 2)
}